{{ if not .Params.hideComments }}
<div class="giscus-comments" style="margin-top: 2rem;">
  <script src="https://giscus.app/client.js" data-repo="DarkPhoenix42/darkphoenix42.github.io"
    data-repo-id="R_kgDOLYYxHA" data-category="Announcements" data-category-id="DIC_kwDOLYYxHM4C5Kx3"
    data-mapping="pathname" data-strict="0" data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top"
    data-theme="dark_dimmed" data-lang="en" data-loading="lazy" crossorigin="anonymous" async>
    </script>
</div>
{{ end }}